
@{
    ViewData["Title"] = "Giải pháp & dịch vụ";
    ViewData["TitleName"] = "Giải pháp & dịch vụ";
    ViewData["TitleParent"] = "Giải pháp & dịch vụ";
    ViewData["TitleLink"] = "Giải pháp tổng đài VoiP";
    ViewData["TitleParentName"] = "Giải pháp & dịch vụ";
}

<div class="container mobiplus__solutions mobiplus__solutions_sv">
    @await Html.PartialAsync("/Views/Shared/Title.cshtml")
    <div class="mt-5 mb-4" style="border-left: 4px solid #0C5ADB; padding-left: 16px;">
        <div style="font-weight: normal; font-size: 16px; line-height: 32px;">Subtitle</div>
        <div class="font-weight-bold" style="color: #000000; font-size: 20px; line-height: 32px; ">GIẢI PHÁP TỔNG ĐÀI IP VOIP - Voice over Internet Protocol</div>
    </div>
    <p>
        Ngày nay, sự tăng trưởng nhanh chóng của công nghệ VoIP  các nhà cung cấp dịch vụ có cơ hội lớn cho doanh thu dịch vụ mới, giảm chi phí bền vững và phát triển mạng lưới linh hoạt.
        Ổn định cao hiệu quả và tăng lợi nhuận giải pháp từ VoIP, nó cho phép các nhà cung cấp dịch vụ  xây dựng một cơ sở hạ tầng viễn thông hội tụ và nền tảng nhà cung cấp dịch vụ.
    </p>
    <p>Với giải pháp VoIP  , các nhà cung cấp dịch vụ cung cấp cho khách hàng một loạt các dịch vụ giá trị gia tăng tiếng nói như fax, hội nghị qua IP, Web bấm vào cuộc gọi, Các dịch vụ này được xây dựng trong mạng lưới của hãng, giao hàng từ các máy chủ ứng dụng đang chạy trong dữ liệu của họ trung tâm.</p>
</div>
<div style="background: #FCFCFC;">
    <div class="container mobiplus__solutions mobiplus__solutions_sv mt_23 px-0 mx-auto">
        <div class="text-center mb-3">
            <div style="font-weight: normal; font-size: 16px; line-height: 32px;">Subtitle</div>
            <div class="font-weight-bold" style="color: #000000; font-size: 20px; line-height: 32px; ">ĐẶC ĐIỂM VÀ TÍNH NĂNG CỦA GIẢI PHÁP</div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6 my-auto">
                @{
                    var designAppsss = new List<string> {
                    "Donec vitae mi vulputate, suscipit urna in, malesuada nisl. Pellentesque laoreet pretium nisl, et pulvinar massa eleifend sed.",
                    "Donec vitae mi vulputate, suscipit urna in, malesuada nisl. Pellentesque laoreet pretium nisl, et pulvinar massa eleifend sed.",
                    "Donec vitae mi vulputate, suscipit urna in, malesuada nisl. Pellentesque laoreet pretium nisl, et pulvinar massa eleifend sed.",
                    "Donec vitae mi vulputate, suscipit urna in, malesuada nisl. Pellentesque laoreet pretium nisl, et pulvinar massa eleifend sed.",
                     "Donec vitae mi vulputate, suscipit urna in, malesuada nisl. Pellentesque laoreet pretium nisl, et pulvinar massa eleifend sed.",
                      "Donec vitae mi vulputate, suscipit urna in, malesuada nisl. Pellentesque laoreet pretium nisl, et pulvinar massa eleifend sed.",
                       "Donec vitae mi vulputate, suscipit urna in, malesuada nisl. Pellentesque laoreet pretium nisl, et pulvinar massa eleifend sed.",

                };
                }
                @foreach (var item in designAppsss)
                {
                    <p class="d-flex flex-nowrap align-items-center">
                        <img class="mr_4" height="24" src="~/image/Solution/icon/Group.svg" />
                        @(item)
                    </p>
                }
            </div>
            <div class="col-12 col-md-6 col-lg-6 my-auto">
                <img class="w-100" src="~/image/Solution/Rectangle 404.png" />
            </div>
        </div>
    </div>
</div>
<div class="container mobiplus__solutions mobiplus__solutions_sv">

    <div class="mt_23 px-0 mx-auto">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6 my-auto">
                <img class="w-100" src="~/image/Solution/Rectangle 404 (1).png" />
            </div>
            <div class="col-12 col-md-6 col-lg-6 my-auto">
                @{
                    var designAppss = new List<string> {
                    "Donec vitae mi vulputate, suscipit urna in, malesuada nisl. Pellentesque laoreet pretium nisl, et pulvinar massa eleifend sed.",
                    "Donec vitae mi vulputate, suscipit urna in, malesuada nisl. Pellentesque laoreet pretium nisl, et pulvinar massa eleifend sed.",
                    "Donec vitae mi vulputate, suscipit urna in, malesuada nisl. Pellentesque laoreet pretium nisl, et pulvinar massa eleifend sed.",
                    "Donec vitae mi vulputate, suscipit urna in, malesuada nisl. Pellentesque laoreet pretium nisl, et pulvinar massa eleifend sed.",

                };
                }
                @foreach (var item in designAppss)
                {
                    <p class="d-flex flex-nowrap align-items-center">
                        <img class="mr_4" height="24" src="~/image/Solution/icon/Group.svg" />
                        @(item)
                    </p>
                }
            </div>

        </div>
    </div>

    <div class="row mt_23 mx-auto px-0" style="background-color:#FBFCFF">
        <div class="col-12 img-contact ali-blog">
            <div class="text-center">
                <p class="font-weight-bold text-white">Liên hệ với chúng tôi</p>
                <h3 class="font-weight-bold text-white">Kết nối với chúng tôi</h3>
                <img class="mt-2" src="~/image/Group 307.png" />
                <p class="mx-auto col-12 col-md-6 col-lg-6 mt-4 text-white">
                    Bạn đang gặp vướng mắc trong việc xây dựng hoặc phát triển dự án, đang mong muốn tìm kiếm một đối tác khách hàng để hợp tác. Mobiplus là một lựa chọn tốt nhất dành cho bạn.
                </p>
            </div>
            <a class="btn-contact-2" style="border-radius:16px" asp-controller="ContactUs" asp-action="index">Liên hệ với chúng tôi</a>
        </div>
        <div class="col-12 col-xl-9 mx-auto p-0">
            <div class="owl-carousel owl-theme" id="carousel-3">
                <div class="item py_md_16 py_4 px_4" style="filter: drop-shadow(0px 3px 36px rgba(178, 181, 197, 0.12)); border-radius: 0px;">
                    <img class="mw-100" src="~/image/AboutUs/Customer1.png" />
                </div>
                <div class="item py_md_16 py_4 px_4" style="filter: drop-shadow(0px 3px 36px rgba(178, 181, 197, 0.12)); border-radius: 0px;">
                    <img class="mw-100" src="~/image/AboutUs/Customer1.png" />
                </div>
                <div class="item py_md_16 py_4 px_4" style="filter: drop-shadow(0px 3px 36px rgba(178, 181, 197, 0.12)); border-radius: 0px;">
                    <img class="mw-100" src="~/image/AboutUs/Customer1.png" />
                </div>
                <div class="item py_md_16 py_4 px_4" style="filter: drop-shadow(0px 3px 36px rgba(178, 181, 197, 0.12)); border-radius: 0px;">
                    <img class="mw-100" src="~/image/AboutUs/Customer1.png" />
                </div>
            </div>
        </div>
    </div>
</div>
