
@{
    ViewData["Title"] = "Giải pháp & dịch vụ";
    ViewData["TitleName"] = "Giải pháp & dịch vụ";
    ViewData["TitleParent"] = "Home";
    ViewData["TitleParentName"] = "Trang chủ";
    ViewData["TitleLink"] = "Giải pháp & dịch vụ";
}

<div class="container mobiplus__solutions mobiplus__solutions_sv">
    @await Html.PartialAsync("/Views/Shared/Title.cshtml")

    <div class="mt-4 mt_23 row mx-0">
        <div class="my-auto mx-auto">
            <div class="text-center">
                <h3 class="font-weight-bold font_5">Dịch vụ của chúng tôi</h3>
                
                <p style="color:#7D82A1;" class="mx-auto col-12 col-md-10 col-lg-10">
                    Tại Mobiplus, chúng tôi luôn cố gắng mang lại hiệu suất tốt nhất cho khách hàng bằng cách cung cấp những giải pháp tối ưu nhất với đội ngũ chuyên gia giàu kinh nghiệm đã triển khai nhiều dự án lớn và phức tạp, chúng tôi hiểu rõ các yêu cầu nghiệp vụ của khách hàng và luôn đem đến cho khách hàng sản phẩm phần mềm có chất lượng cao nhất.
                </p>
            </div>
            <div class="row mx-auto">
                <a class="col-12 col-sm-4 item-hover" style="padding: 1rem;" asp-controller="Solutions" asp-action="Tester">
                    <div class="bsd">
                        <img class="img_solution" src="~/image/Solution/Frame 8850.png" />

                        <div class="tab_item_component text-center mt-4">
                            <h4>Tester kiểm thử phần mềm</h4>
                        </div>
                    </div>
                </a>
                <a href="#" class="col-12 col-sm-4 item-hover" style="padding: 1rem;">
                    <div class="bsd">
                        <img class="img_solution" src="~/image/Solution/Frame 8852.png" />

                        <div class="tab_item_component text-center mt-4">
                            <h4>Thiết kế website</h4>
                        </div>
                    </div>
                </a>
                <a href="#" class="col-12 col-sm-4 item-hover" style="padding: 1rem;">
                    <div class="bsd">
                        <img class="img_solution" src="~/image/Solution/Frame 8853.png" />

                        <div class="tab_item_component text-center mt-4">
                            <h4>Thiết kế ứng dụng</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row  mt_23 px-0 mx-auto">
        <div class="col-12 col-md-6 col-lg-6 my-auto">
            <div class="text_z">Chúng tôi luôn</div>
            <h3 class="font-weight-bold font_5">Tối ưu hóa công việc một cách tốt nhất</h3>
            <p class="font_6">
                Dựa trên những yêu cầu của khách hàng. Chúng tôi phân tích và phát triển các ý tưởng đó đảm bảo đúng yêu cầu được đề ra.Tiếp theo đó chúng tôi sẽ tối ưu sản phẩm sao cho phù hợp nhất tiện lợi nhất cho bạn và doanh nghiệp của mình với những gì chúng tôi có.
            </p>
            <p class="d-flex flex-nowrap align-items-center">
                <img class="mr_4" height="24" src="~/image/Solution/Group 8979.png" />
                Quy trình làm việc chuẩn mực.
            </p>
            <p class="d-flex flex-nowrap align-items-center">
                <img class="mr_4" height="24" src="~/image/Solution/Group 8979.png" />
                Đội ngũ trẻ tuổi với nhiều ý tượng táo bạo và đột phá.
            </p>
            <p class="d-flex flex-nowrap align-items-center">
                <img class="mr_4" height="24" src="~/image/Solution/Group 8979.png" />
                Đội ngũ nhiều năm kinh nghiệm hoàn thành rất nhiều dự án phức tạp quy mô lớn.
            </p>
            <p class="d-flex flex-nowrap align-items-center">
                <img class="mr_4" height="24" src="~/image/Solution/Group 8979.png" />
                Hỗ trợ khách hàng 24/7 đảm bảo công việc luôn thuận lợi.
            </p>
            <p class="d-flex flex-nowrap align-items-center">
                <img class="mr_4" height="24" src="~/image/Solution/Group 8979.png" />
                Luôn đưa ra những giải pháp phù hợp và tốt nhất dựa trên yêu cầu của khách hàng.
            </p>
        </div>
        <div class="col-12 col-md-6 col-lg-6 my-auto">
            <img class="w-100" src="~/image/Solution/Saly-38.png" />
        </div>
    </div>

    <div class="row mx-auto mt_23">
        <div class="col-12 col-md-6 col-lg-6 my-auto">
            <img class="w-100" src="~/image/Solution/Group 6322.png" />
        </div>
        <div class="col-12 col-md-6 col-lg-6 mt-4 mt-md-0">
            <div class="text_z">Lợi ích khi  hợp tác</div>
            <h3 class="font-weight-bold font_5">Hiệu quả kinh doanh được tối ưu nhất</h3>
            <p class="font_6">
                Hiện nay việc ứng dụng phần mềm, vào các hoạt động của các doanh nghiệp, tổ chức, cá nhân không còn xa lạ. Đơn giản từ những chiếc điện thoại thông minh, đến các hệ thống máy tính đều chúng ta đều trực tiếp sử dụng các phần mềm trên đó.
                <span class="font-weight-bold">Lợi ích khi ứng dụng phần mềm vào doanh nghiệp:</span>
            </p>
            @{
                var designApps = new List<string> {
                    "Độ bảo mật an toàn thông tin được đảm bảo.",
                    "Kinh doanh hiệu quả hơn.",
                    "Tiết kiệm thời gian và chi phí.",
                    "Xử lý dữ liệu nhanh, chính xác, tin cậy.",
                    "Dễ dàng quản lý và theo dõi sản phẩm của mình.",

                };
            }
            @foreach (var item in designApps)
            {
                <p class="d-flex flex-nowrap align-items-center">
                    <img class="mr_4" height="24" src="~/image/Solution/Group 8979.png" />
                    @(item)
                </p>
            }
        </div>

    </div>
    <div class="row mx-auto mt_23">
        <div class="col-12 col-md-6 col-lg-6 my-auto mx-0 px-0">
            <div class="text-title mt-5 mt-md-0">
                <div class="text_z">Chúng tôi có thể </div>
                <h3 class="font-weight-bold font_2 font_2_2">Giúp bạn thành công.</h3>
                <p style="color:#7D82A1">
                    Đội ngũ nhân sự của Mobiplus có thể giúp cho bạn và doanh nghiệp của bạn có một
                    sản phẩm dễ dàng sử dụng, đảm bảo đầy đủ yêu cầu đã được đề ra.
                </p>
            </div>

            <div class="row" style="margin: 0rem -0.5rem;">
                @{
                    var solutionsHelpImg = new List<string> {
                            "/image/Solution/img (1).png",
                            "/image/Service2/Exchange_perspective_matte_s 2 (1).png",
                            "/image/Service2/Padlock_perspective_matte_s (1).png",
                            "/image/Solution/FAQ_perspective_matte.png"
                        };
                    var solutionsHelpTilte = new List<string> {
                            "Đề xuất giải pháp",
                            "Tối ưu sản phẩm",
                            "Dữ liệu bảo mật",
                            "Hỗ trợ 24/7"
                        };
                    var solutionsHelpNote = new List<string> {
                            "Mobiplus giúp bạn đưa ra giải pháp phù hợp với tình huống công ty hiện tại của bạn.",
                            "Mobiplus giúp bạn đưa ra giải pháp phù hợp với tình huống công ty hiện tại của bạn.",
                            "Mobiplus giúp bạn đưa ra giải pháp phù hợp với tình huống công ty hiện tại của bạn.",
                            "Mobiplus giúp bạn đưa ra giải pháp phù hợp với tình huống công ty hiện tại của bạn."
                        };
                }
                @for (var i = 0; i < 4; i++)
                {
                    <div class="col-6 p_2">
                        <div class="card card_ver2 h-100 d-flex flex-nowrap flex-column align-items-center justify-content-center px_5 py_8">
                            <img class="img-size-icon mb_5" src="@(solutionsHelpImg[i])" />
                            <div class="">
                                <h5 class="card-title font-weight-bold mb_0 mb_md_2 text-center">@(solutionsHelpTilte[i])</h5>
                                <p class="card-text text-center overflow-auto overflow_style_2 d-none d-md-block"
                                   style="color:#7D82A1; max-height:85px;">@(solutionsHelpNote[i])</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 my-auto">
            <div class="img-slide w-100 mt-5 mt-md-0">
                <img class="img-people" id="img-102" src="~/image/Service2/Group 6257.png" />
                <img class="w-100 img-ball" id="img-100" style="right:0;position:relative" src="~/image/Service2/Group 6263.png" />
                <img class="img-flower" src="~/image/Service2/Group 5967.png" />
                <img class="img-coin" id="img-101" src="~/image/Service2/Group 6008.png" />
            </div>
        </div>
    </div>
    <div class="row mt_23 mx-auto px-0" style="background-color:#FBFCFF">
        <div class="col-12 img-contact ali-blog">
            <div class="text-center">
                <p class="font-weight-bold text-white">Liên hệ với chúng tôi</p>
                <h3 class="font-weight-bold text-white">Kết nối với chúng tôi</h3>
                <img class="mt-2" src="~/image/Group 307.png" />
                <p class="mx-auto col-12 col-md-6 col-lg-6 mt-4 text-white">
                    Bạn đang gặp vướng mắc trong việc xây dựng hoặc phát triển dự án, đang mong muốn tìm kiếm một đối tác khách hàng để hợp tác. Mobiplus là một lựa chọn tốt nhất dành cho bạn.
                </p>
            </div>
            <a class="btn-contact-2" style="border-radius:16px" asp-controller="ContactUs" asp-action="index">Liên hệ với chúng tôi</a>
        </div>
        <div class="col-12 col-xl-9 mx-auto p-0">
            <div class="owl-carousel owl-theme" id="carousel-3">
                <div class="item py_md_16 py_4 px_4" style="filter: drop-shadow(0px 3px 36px rgba(178, 181, 197, 0.12)); border-radius: 0px;">
                    <img class="mw-100" src="~/image/AboutUs/Customer1.png" />
                </div>
                <div class="item py_md_16 py_4 px_4" style="filter: drop-shadow(0px 3px 36px rgba(178, 181, 197, 0.12)); border-radius: 0px;">
                    <img class="mw-100" src="~/image/AboutUs/Customer1.png" />
                </div>
                <div class="item py_md_16 py_4 px_4" style="filter: drop-shadow(0px 3px 36px rgba(178, 181, 197, 0.12)); border-radius: 0px;">
                    <img class="mw-100" src="~/image/AboutUs/Customer1.png" />
                </div>
                <div class="item py_md_16 py_4 px_4" style="filter: drop-shadow(0px 3px 36px rgba(178, 181, 197, 0.12)); border-radius: 0px;">
                    <img class="mw-100" src="~/image/AboutUs/Customer1.png" />
                </div>
            </div>
        </div>
    </div>
</div>
