
@{
    ViewData["Title"] = "Giải pháp & dịch vụ";
    ViewData["TitleName"] = "Giải pháp & dịch vụ";
    ViewData["TitleParent"] = "Giải pháp & dịch vụ";
    ViewData["TitleLink"] = "Tester kiểm thử phần mềm";
    ViewData["TitleParentName"] = "Giải pháp & dịch vụ";
}

<div class="container mobiplus__solutions mobiplus__solutions_sv">
    @await Html.PartialAsync("/Views/Shared/Title.cshtml")

    <div class="mt-4 mt-5 row mx-0">
        <div class="my-auto mx-auto">
            <div class="text-center">
                <h3 class="font-weight-bold font_5 mb-1" style="color: #0C5ADB !important">Chúng tôi có gì ?</h3>
                <div class="mx-auto" style="border-bottom: 4px solid #0C5ADB; width: 100px; margin-bottom: 16px;"></div>
                <p style="color:#7D82A1;" class="mx-auto col-12 col-md-10 col-lg-10">
                    Mobiplus có đội ngũ Tester chuyên nghiệp & có nhiều năm kinh nghiệm trong lĩnh vực kiểm thử các dự án Manual Testing
                    Chúng tôi hoạt động trên nhiều lĩnh vực, nền tàng khác nhau có thể đáp ứng mọi nhu cầu từ khách hàng.
                </p>
            </div>
            <div class="row mx-auto">
                <div class="col-12 col-md-6 col-lg-3" style="padding: 1rem;">
                    <div>
                        <img class="img_solution_test p-70" src="~/image/Solution/icon/Group 9225.svg" />

                        <div class="tab_item_component text-center mt-4">
                            <p>Web : Chrome, IE, Safari, Firefox</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3" style="padding: 1rem;">
                    <div>
                        <img class="img_solution_test p-70" src="~/image/Solution/icon/ic_baseline-phone-iphone.png" />

                        <div class="tab_item_component text-center mt-4">
                            <p>Thiết bị di động : IOS, Android</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3" style="padding: 1rem;">
                    <div>
                        <img class="img_solution_test p-70" src="~/image/Solution/icon/Group 9224.svg" />

                        <div class="tab_item_component text-center mt-4">
                            <p>Mac</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3" style="padding: 1rem;">
                    <div>
                        <img class="img_solution_test p-70" src="~/image/Solution/icon/brandico_win8.svg" />

                        <div class="tab_item_component text-center mt-4">
                            <p>Windows</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3" style="padding: 1rem;">
                    <div>
                        <img class="img_solution_test p-70" src="~/image/Solution/icon/Group 9227.svg" />

                        <div class="tab_item_component text-center mt-4">
                            <p>CRM (Hệ thống quản lý khách hàng)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3" style="padding: 1rem;">
                    <div>
                        <img class="img_solution_test p-70" src="~/image/Solution/icon/Group 9228.png" />

                        <div class="tab_item_component text-center mt-4">
                            <p>HRM (Hệ thống quản lý nhân sự)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3" style="padding: 1rem;">
                    <div>
                        <img class="img_solution_test p-70" src="~/image/Solution/icon/Group 9229.svg" />

                        <div class="tab_item_component text-center mt-4">
                            <p>E - Commerce (Thương mại điện tử)</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3" style="padding: 1rem;">
                    <div>
                        <img class="img_solution_test p-70" src="~/image/Solution/icon/Group 9231.svg" />

                        <div class="tab_item_component text-center mt-4">
                            <p>Hệ thống bảo trì bảo dưỡng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row  mt_23 px-0 mx-auto">
        <div class="col-12 col-md-6 col-lg-6 my-auto">
            <h3 class="font-weight-bold font_5">Chúng tôi áp dụng quy trình kiểm thử chuẩn mực</h3>
            <p class="font_6">
                Dịch vụ kiểm thử phần mềm của Mobiplus luôn hướng đến mục tiêu cuối cùng là bàn giao sản phẩm chất lượng tốt nhất & đáp ứng nhu cầu của quý khách hàng.
                Tùy thuộc loại dự án & nhu cầu khách hàng đưa ra, Về cơ bản quy trình kiểm thử chúng tôi gồm các giai đoạn:
            </p>
            <p class="d-flex flex-nowrap align-items-center">
                <img class="mr_4" height="24" src="~/image/Solution/Group 8979.png" />
                Requirement analysis – Tiếp nhận requirement từ phía khách hàng & thực hiện phân tích.
            </p>
            <p class="d-flex flex-nowrap align-items-center">
                <img class="mr_4" height="24" src="~/image/Solution/Group 8979.png" />
                Test planning –  Lên kế hoạch thực hiện kiểm thử.
            </p>
            <p class="d-flex flex-nowrap align-items-center">
                <img class="mr_4" height="24" src="~/image/Solution/Group 8979.png" />
                Test Scenario: Thiết kế kịch bản kiểm thử.
            </p>
            <p class="d-flex flex-nowrap align-items-center">
                <img class="mr_4" height="24" src="~/image/Solution/Group 8979.png" />
                Test Execution: Thực hiện kiểm thử.
            </p>
            <p class="d-flex flex-nowrap align-items-center">
                <img class="mr_4" height="24" src="~/image/Solution/Group 8979.png" />
                Review & Report: Đánh giá & Báo cáo kết quả kiểm thử
            </p>
        </div>
        <div class="col-12 col-md-6 col-lg-6 my-auto">
            <img class="w-100" src="~/image/Solution/icon/Rectangle 404 (2).png" />
        </div>
    </div>


    <div class="solutions_test mt_23">

        <h4 class="font-weight-bold font_5 mb-0" style="color: #2d518f !important; text-align: center; font-weight: 900">Quy trình kiểm thử phần mềm</h4>
        <div class="demo5">
            <ol class="breadcrumbs v1 p-0">
                <li class="breadcrumb-levels sol_1 mb__xz"><a style="padding: 20px;">Requirement Analysis</a></li>
                <li class="breadcrumb-levels sol_2 mb__xz"><a style="padding: 20px; width: 202px;">Test Plan</a></li>
                <li class="breadcrumb-levels sol_3 mb__xz"><a style="padding: 20px; width: 202px;">Test Scenario</a></li>
                <li class="breadcrumb-levels sol_4 mb__xz"><a style="padding: 20px; width: 202px;">Test Execution</a></li>
                <li class="breadcrumb-levels sol_5 mb__xz"><a style="padding: 20px; width: 202px;">Review & Report </a></li>
            </ol>
        </div>
    </div>

    <div class="mt_23">
        <div class="text-center" style="font-weight: bold; font-size: 22px; line-height: 40px; color: #0C5ADB; margin-bottom: 6px;">Đặc trưng và thế mạnh:</div>
        <div class="mx-auto" style="border-bottom: 4px solid #0C5ADB; width: 100px; margin-bottom: 12px;"></div>
        <p style="color: #7D82A1; text-align: center;" class="mx-auto col-12 col-md-10 col-lg-10">
            Tùy thuộc vào nhu cầu của khách hàng, chúng tôi có thể cung cấp dịch vụ kiểm thử phần mềm từ thiết kế đến thực thi.
            Về cơ bản chúng tôi có thể cung cấp ba dạng kiểm thử.
        </p>
    </div>

    <div class="mt_23">
        <div class="row">
            <div class="col-md-4" style="box-shadow: 0px 4px 25px rgba(94, 142, 221, 0.15);border-radius: 8px;">
                <div class="p-3">
                    <h3 class="mt-4" style="color: #0DD35D; font-weight: bold; font-size: 100px; line-height: 48px;">1</h3>
                    <p class="mt-4">
                        Khách hàng cung cấp tài liệu định nghĩa yêu cầu và nhóm kiểm thử của chúng tôi tiến hành thực hiện phiên hỏi đáp với khách hàng dựa trên định nghĩa yêu cầu, hiểu rõ yêu cầu, tạo đặc tả và thực hiện kiểm thử.
                    </p>
                </div>
            </div>
            <div class="col-md-4" style="box-shadow: 0px 4px 25px rgba(94, 142, 221, 0.15);border-radius: 8px;">
                <div class="p-3">
                    <h3 class="mt-4" style="color: #00C9FB; font-weight: bold; font-size: 100px; line-height: 48px;">2</h3>
                    <p class="mt-4">
                        Khách hàng cung cấp các ứng dụng hệ thống hiện có mà không cần bất kỳ tài liệu đính kèm nào, v.v. và chúng tôi phân tích hệ thống theo các kênh khác nhau dựa trên ứng dụng của hệ thống hiện có, tạo ra tài liệu đặc tả kiểm thử và thực hiện kiểm thử dựa trên kinh nghiệm của chính chúng tôi.
                    </p>
                </div>
            </div>
            <div class="col-md-4" style="box-shadow: 0px 4px 25px rgba(94, 142, 221, 0.15);border-radius: 8px;">
                <div class="p-3">
                    <h3 class="mt-4" style="color: #0C5ADB; font-weight: bold; font-size: 100px; line-height: 48px;">3</h3>
                    <p class="mt-4">
                        Kiểm thử được thực hiện bằng cách sử dụng tài liệu kiểm thử do khách hàng cung cấp. Tuy nhiên, các kỹ sư kiểm thử của chúng tôi sử dụng những quan điểm kiểm thử của mình sẽ trích xuất các vấn đề không phù hợp với tài liệu đặc tả kiểm thử, phát hiện các lỗi không được mô tả trong tài liệu đó.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mx-auto mt_23">
        <div class="col-12 col-md-6 col-lg-6 my-auto">
            <img class="w-100" src="~/image/Solution/test/Rectangle 261.png" />
        </div>
        <div class="col-12 col-md-6 col-lg-6 mt-4 mt-md-0">
            <h3 class="font-weight-bold font_5">Đội ngũ Tester trẻ trung năng động & ham học hỏi</h3>
            <p class="font_6">
                Mobiplus cung cấp môi trường thân thiện, để cải thiện khả năng của mình các thành viên của nhóm
                đều được đào tạo để biết thêm kiến thức mới, công nghệ mới & các kỹ năng giải quyết vấn đề . Với đội ngũ trẻ nhân sự trẻ trung, năng động & ham học hỏi và khả năng làm việc nhóm cao đội ngũ của chúng tôi luôn được
                đánh giá cao với khách hàng vì những tiềm năng mình có.
            </p>
            @{
                var designApps = new List<string> {
                    "Có tính chủ động & chịu trách nhiệm về chất lượng của sản phẩm.",
                    "Có kỹ thuật đọc hiểu & viết tài liệu đặc tả.",
                    "Có kỹ thuật tiếp nhận & phân tích yêu cầu.",
                    "Xử lý dữ liệu nhanh, chính xác, tin cậy.",
                    "Luôn nỗ lực tìm hiểu các vấn đề mới để không ngừng cải thiện bản thân.",

                };
            }
            @foreach (var item in designApps)
            {
                <p class="d-flex flex-nowrap align-items-center">
                    <img class="mr_4" height="24" src="~/image/Solution/Group 8979.png" />
                    @(item)
                </p>
            }
        </div>

    </div>

    <div class="row mx-auto mt_23">

        <div class="col-12 col-md-6 col-lg-6 mt-4 mt-md-0">
            <h3 class="font-weight-bold font_5">Có nhiều kỹ thuật chuyên môn nâng cao</h3>
            <p class="font_6">
                Được tham gia từ giai đoạn đầu dự án đến khi có sản phẩm bàn giao thực tế cho khách hàng, từ những dự án nhỏ đến lớn. Đội ngũ của chúng tôi phần nào thấu hiểu sâu về quy trình nghiệp vụ. Nhờ đó các thành viên của chúng tôi luôn học hỏi được những cái mới và phát triển bản thân với  những kỹ thuật chuyên môn nâng cao.
            </p>
            @{
                var designAppsTest = new List<string> {
                    "Design Testing – Kiểm thử thiết kế.",
                    "UI & UX Testing – Kiểm thử giao diện & sự trải nghiệm người dùng.",
                    "API Testing – Kiểm thử API.",
                    "Database Testing – Kiểm thử dữ liệu DB.",
                    "Performance Testing – Kiểm thử hiệu năng.",
                    "Acceptance Testing – Kiểm thử chấp nhận.",

                };
            }
            @foreach (var item in designAppsTest)
            {
                <p class="d-flex flex-nowrap align-items-center">
                    <img class="mr_4" height="24" src="~/image/Solution/Group 8979.png" />
                    @(item)
                </p>
            }
        </div>
        <div class="col-12 col-md-6 col-lg-6 my-auto">
            <img class="w-100" src="~/image/Solution/test/Group 8976.png" />
        </div>

    </div>

    <div class="row mt_23 mx-auto px-0" style="background-color:#FBFCFF">
        <div class="col-12 img-contact ali-blog">
            <div class="text-center">
                <p class="font-weight-bold text-white">Liên hệ với chúng tôi</p>
                <h3 class="font-weight-bold text-white">Kết nối với chúng tôi</h3>
                <img class="mt-2" src="~/image/Group 307.png" />
                <p class="mx-auto col-12 col-md-6 col-lg-6 mt-4 text-white">
                    Bạn đang gặp vướng mắc trong việc xây dựng hoặc phát triển dự án, đang mong muốn tìm kiếm một đối tác khách hàng để hợp tác. Mobiplus là một lựa chọn tốt nhất dành cho bạn.
                </p>
            </div>
            <a class="btn-contact-2" style="border-radius:16px" asp-controller="ContactUs" asp-action="index">Liên hệ với chúng tôi</a>
        </div>
        <div class="col-12 col-xl-9 mx-auto p-0">
            <div class="owl-carousel owl-theme" id="carousel-3">
                <div class="item py_md_16 py_4 px_4" style="filter: drop-shadow(0px 3px 36px rgba(178, 181, 197, 0.12)); border-radius: 0px;">
                    <img class="mw-100" src="~/image/AboutUs/Customer1.png" />
                </div>
                <div class="item py_md_16 py_4 px_4" style="filter: drop-shadow(0px 3px 36px rgba(178, 181, 197, 0.12)); border-radius: 0px;">
                    <img class="mw-100" src="~/image/AboutUs/Customer1.png" />
                </div>
                <div class="item py_md_16 py_4 px_4" style="filter: drop-shadow(0px 3px 36px rgba(178, 181, 197, 0.12)); border-radius: 0px;">
                    <img class="mw-100" src="~/image/AboutUs/Customer1.png" />
                </div>
                <div class="item py_md_16 py_4 px_4" style="filter: drop-shadow(0px 3px 36px rgba(178, 181, 197, 0.12)); border-radius: 0px;">
                    <img class="mw-100" src="~/image/AboutUs/Customer1.png" />
                </div>
            </div>
        </div>
    </div>
</div>
