@media only screen and (max-width:739px){
    #mk-fullscreen-search-wrapper #mk-fullscreen-searchform #mk-fullscreen-search-input {
        width: 343px;
        height: 52px;
        background-color: #FFFFFF;
        border-radius: 52px;
        box-shadow: none !important;
        border: 0;
        text-align: left;
        font-size: 16px;
        padding: 21px 60px 23px 32px;
        color: #343a40 !important;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
    #mk-seard-div {
        width: 343px;
        position: relative;
        margin: auto;

    }

    #mk-fullscreen-search-wrapper #mk-fullscreen-searchform .fullscreen-search-icon {
        font-size: 21px;
        border-radius: 0px 52px 52px 0px;
        padding: 10px;
        position: absolute;
        height: 52px !important;
        right: 0px;
        background: #0094FF;
        width: 60px;
        top: 0px;
        color: #fff;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
    }
    .mk-fullscreen-close {
        right: 40px;
        top: 35px;
        font-size: 19px;
    }
    .live-search-list {
        width: 287px;
    }
}
//man ipad
@media only screen and (min-device-width:768px)and (max-device-width:1024px) {
    #mk-fullscreen-search-input {
        width: 704px;
        height: 68px;
        background-color: #FFFFFF;
        border-radius: 52px;
        box-shadow: none !important;
        border: 0;
        text-align: left;
        font-size: 16px;
        padding: 21px 100px 23px 32px;
        color: #343a40 !important;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }

    #mk-seard-div {
        width: 704px;
        position: relative;
        margin: auto;
    }

    .fullscreen-search-icon {
        font-size: 21px;
        border-radius: 0px 52px 52px 0px;
        padding: 16px;
        position: absolute;
        height: 68px !important;
        right: 0px;
        background: #0094FF;
        width: 86px;
        top: 0px;
        color: #fff;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
    }

    .mk-fullscreen-close {
        right: 71px;
        top: 56px;
        font-size: 26px;
    }

    .live-search-list {
        width: 618px;
    }
}
//pc
@media only screen and (min-width:1025px) {
    #mk-fullscreen-search-wrapper #mk-fullscreen-searchform #mk-fullscreen-search-input {
        width: 704px;
        height: 68px;
        background-color: #FFFFFF;
        border-radius: 52px;
        box-shadow: none !important;
        border: 0;
        text-align: left;
        font-size: 16px;
        padding: 21px 100px 23px 32px;
        color: #343a40 !important;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }

    #mk-seard-div {
        width: 704px;
        position: relative;
        margin: auto;
    }

    #mk-fullscreen-search-wrapper #mk-fullscreen-searchform .fullscreen-search-icon {
        font-size: 21px;
        border-radius: 0px 52px 52px 0px;
        padding: 16px;
        position: absolute;
        height: 68px !important;
        right: 0px;
        background: #0094FF;
        width: 86px;
        top: 0px;
        color: #fff;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
    }
    .mk-fullscreen-close {
        right: 71px;
        top: 56px;
        font-size: 26px;
    }
    .live-search-list {
        width: 618px;
    }
}
/* Search Overlay */
.overlay {
    display: none;
}

.mk-fullscreen-search-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    opacity: 0.8;
    background-color: #041C3F;
    text-align: center;
    display: none;
}


#mk-fullscreen-search-wrapper #mk-fullscreen-searchform input[type=submit] {
    position: absolute;
    width: 80px;
    height: 100%;
    background-color: #0094FF;
    border: 0;
    right: 0;
    top: 0;
    opacity: 0;
    border-radius: 52px;
}

#mk-fullscreen-searchform:focus {
    outline: none;
    border: none;
}

.fullscreen-search-icon:hover,
.fullscreen-search-icon:focus {
    border: none;
    outline: none;
    color: #B2B5C5 !important;
}

#mk-fullscreen-searchform {
    position: relative;
    verticle-align: middle;
}


#mk-fullscreen-search-wrapper #mk-fullscreen-searchform #mk-fullscreen-search-input:focus {
    boder: none;
    outline: none;
}

.mk-search-wrapper {
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    text-align: center;
}

.mk-search-wrapper,
.mk-animate-element,
.mk-effect-bg-layer {
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.mk-fullscreen-close:link,
.mk-fullscreen-close:visited {
    color: #fff;
}

.mk-fullscreen-close {
    position: absolute;
    -webkit-transition: transform ease-out .2s;
    -moz-transition: transform ease-out .2s;
    -ms-transition: transform ease-out .2s;
    -o-transition: transform ease-out .2s;
    transition: transform ease-out .2s;
    transform: rotate(0deg);
}

.mk-search-wrapper.mk-search-wrapper-show #mk-fullscreen-search-wrapper {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    ms-transform: scale(1);
}

.mk-search-wrapper #mk-fullscreen-search-wrapper {
    display: inline-block;
    max-width: 1000px;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    ms-transform: scale(0.9);
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}

.mk-search-trigger {
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out
}

/* Search Button */


.mk-fullscreen-close:hover {
    opacity: 0.6;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
}

#mk-fullscreen-search-input:focus {
    box-shadow: 0px 3px 0px 0px rgba(255,255,255,0.54) !important;
}

#icon_close {
    font-size: 21px;
    /* border-radius: 0px 52px 52px 0px; */
    padding: 20px;
    position: absolute;
    /* height: 100%; */
    right: 80px;
}

#mk-fullscreen-search-wrapper #mk-fullscreen-searchform input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

.icon__search {
    color: #7D82A1;
    font-size: 30px;
    cursor: pointer;
}

#search-button i:hover {
    color: #007bff !important;
}

//list

.live-search-list {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
    margin-top: 3px;
    padding-left: 0px;
    color: #373D67;
    border-radius: 16px !important;
    background-color: #ffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*opacity: 0;*/
    display:none;
}


.live-search-list li {
    color: #373D67;
    list-style: none;
    padding: 0px;
    padding-left: 32px;
    text-align: left;
    margin: 5px 0;
    cursor: pointer;
}