@{
    Layout = null;
}
<div class="row blog_row blog-mg">
    @* du lieu giả*@

    <div class="col-lg-4 col-md-6 col-sm-12">
        <a asp-controller="Blog" asp-action="Detail" asp-route-id="4">
            <div class="card mb-4 box-shadow blog__tab_shadow">
                <img class="card-img-top" src="~/image/blog/blog3.png">
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col-6 pr-0">
                            <i class="ri-time-line icon__blog"></i>
                            <span class="font__14">Thứ 4, 02/06/2021</span>
                        </div>
                        <div class="col-6">
                            <i class="ri-file-list-line icon__blog"></i>
                            <span class="font__14">Giáo dục</span>
                        </div>
                    </div>
                    <h5 class="mt-2">Bạn nên bắt đầu học Thiết kế UI từ đ....</h5>
                    <p class="card-text text-blog">Ngành UI/UX Design là một trong những nhóm ngành thiết kế có rất nhiều cơ hội việc là và có...</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="text-more">
                            <h7>Xem thêm <span class="blog-them"></span></h7>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <a asp-controller="Blog" asp-action="Detail" asp-route-id="4">
            <div class="card mb-4 box-shadow blog__tab_shadow">
                <img class="card-img-top" src="~/image/blog/blog3.png">
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col-6 pr-0">
                            <i class="ri-time-line icon__blog"></i>
                            <span class="font__14">Thứ 4, 02/06/2021</span>
                        </div>
                        <div class="col-6">
                            <i class="ri-file-list-line icon__blog"></i>
                            <span class="font__14">Giáo dục</span>
                        </div>
                    </div>
                    <h5 class="mt-2">User Research – Hiểu rõ hơn về phân c...</h5>
                    <p class="card-text text-blog">Trong thiết kế UI/UX, thiết kế web việc phân tích đối tượng người dùng, phân tích hành vi và sở...</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="text-more">
                            <h7>Xem thêm <span class="blog-them"></span></h7>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <a asp-controller="Blog" asp-action="Detail" asp-route-id="4">
            <div class="card mb-4 box-shadow blog__tab_shadow">
                <img class="card-img-top" src="~/image/blog/blog2.png">
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col-6 pr-0">
                            <i class="ri-time-line icon__blog"></i>
                            <span class="font__14">Thứ 4, 02/06/2021</span>
                        </div>
                        <div class="col-6">
                            <i class="ri-file-list-line icon__blog"></i>
                            <span class="font__14">Giáo dục</span>
                        </div>
                    </div>
                    <h5 class="mt-2">Những điều bạn thường quên khi thiết ...</h5>
                    <p class="card-text text-blog">Ngay cả trong ứng dụng hoặc trang web đơn giản nhất, có rất nhiều màn hình và chức năng mà nh...</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="text-more">
                            <h7>Xem thêm <span class="blog-them"></span></h7>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <a asp-controller="Blog" asp-action="Detail" asp-route-id="4">
            <div class="card mb-4 box-shadow blog__tab_shadow">
                <img class="card-img-top" src="~/image/blog/blog4.png">
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col-6 pr-0">
                            <i class="ri-time-line icon__blog"></i>
                            <span class="font__14">Thứ 4, 02/06/2021</span>
                        </div>
                        <div class="col-6">
                            <i class="ri-file-list-line icon__blog"></i>
                            <span class="font__14">Giáo dục</span>
                        </div>
                    </div>
                    <h5 class="mt-2">Bạn nên bắt đầu học Thiết kế UI từ đ....</h5>
                    <p class="card-text text-blog">Hiểu được hành vi người dùng giúp bạn tạo ra những thiết kế, trải nghiệm người dùng tốt hơn...</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="text-more">
                            <h7>Xem thêm <span class="blog-them"></span></h7>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <a asp-controller="Blog" asp-action="Detail" asp-route-id="4">
            <div class="card mb-4 box-shadow blog__tab_shadow">
                <img class="card-img-top" src="~/image/blog/blog5.png">
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col-6 pr-0">
                            <i class="ri-time-line icon__blog"></i>
                            <span class="font__14">Thứ 4, 02/06/2021</span>
                        </div>
                        <div class="col-6">
                            <i class="ri-file-list-line icon__blog"></i>
                            <span class="font__14">Giáo dục</span>
                        </div>
                    </div>
                    <h5 class="mt-2">Bạn nên bắt đầu học Thiết kế UI từ đ....</h5>
                    <p class="card-text text-blog">Ngành UI/UX Design là một trong những nhóm ngành thiết kế có rất nhiều cơ hội việc là và có...</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="text-more">
                            <h7>Xem thêm <span class="blog-them"></span></h7>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <a asp-controller="Blog" asp-action="Detail" asp-route-id="4">
            <div class="card mb-4 box-shadow blog__tab_shadow">
                <img class="card-img-top" src="~/image/blog/blog6.png">
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col-6 pr-0">
                            <i class="ri-time-line icon__blog"></i>
                            <span class="font__14">Thứ 4, 02/06/2021</span>
                        </div>
                        <div class="col-6">
                            <i class="ri-file-list-line icon__blog"></i>
                            <span class="font__14">Giáo dục</span>
                        </div>
                    </div>
                    <h5 class="mt-2">Bạn nên bắt đầu học Thiết kế UI từ đ....</h5>
                    <p class="card-text text-blog">Ngành UI/UX Design là một trong những nhóm ngành thiết kế có rất nhiều cơ hội việc là và có...</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="text-more">
                            <h7>Xem thêm <span class="blog-them"></span></h7>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <a asp-controller="Blog" asp-action="Detail" asp-route-id="4">
            <div class="card mb-4 box-shadow blog__tab_shadow">
                <img class="card-img-top" src="~/image/blog/blog9.png">
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col-6 pr-0">
                            <i class="ri-time-line icon__blog"></i>
                            <span class="font__14">Thứ 4, 02/06/2021</span>
                        </div>
                        <div class="col-6">
                            <i class="ri-file-list-line icon__blog"></i>
                            <span class="font__14">Giáo dục</span>
                        </div>
                    </div>
                    <h5 class="mt-2">Bạn nên bắt đầu học Thiết kế UI từ đ....</h5>
                    <p class="card-text text-blog">Ngành UI/UX Design là một trong những nhóm ngành thiết kế có rất nhiều cơ hội việc là và có...</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="text-more">
                            <h7>Xem thêm <span class="blog-them"></span></h7>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <a asp-controller="Blog" asp-action="Detail" asp-route-id="4">
            <div class="card mb-4 box-shadow blog__tab_shadow">
                <img class="card-img-top" src="~/image/blog/blog7.png">
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col-6 pr-0">
                            <i class="ri-time-line icon__blog"></i>
                            <span class="font__14">Thứ 4, 02/06/2021</span>
                        </div>
                        <div class="col-6">
                            <i class="ri-file-list-line icon__blog"></i>
                            <span class="font__14">Giáo dục</span>
                        </div>
                    </div>
                    <h5 class="mt-2">Bạn nên bắt đầu học Thiết kế UI từ đ....</h5>
                    <p class="card-text text-blog">Ngành UI/UX Design là một trong những nhóm ngành thiết kế có rất nhiều cơ hội việc là và có...</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="text-more">
                            <h7>Xem thêm <span class="blog-them"></span></h7>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <a asp-controller="Blog" asp-action="Detail" asp-route-id="4">
            <div class="card mb-4 box-shadow blog__tab_shadow">
                <img class="card-img-top" src="~/image/blog/blog8.png">
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col-6 pr-0">
                            <i class="ri-time-line icon__blog"></i>
                            <span class="font__14">Thứ 4, 02/06/2021</span>
                        </div>
                        <div class="col-6">
                            <i class="ri-file-list-line icon__blog"></i>
                            <span class="font__14">Giáo dục</span>
                        </div>
                    </div>
                    <h5 class="mt-2">Bạn nên bắt đầu học Thiết kế UI từ đ....</h5>
                    <p class="card-text text-blog">Ngành UI/UX Design là một trong những nhóm ngành thiết kế có rất nhiều cơ hội việc là và có...</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="text-more">
                            <h7>Xem thêm <span class="blog-them"></span></h7>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>



    @* *************@

</div>
