<div class="overlay">
    <div id="mk-fullscreen-search-wrapper" class="mk-search-wrapper">
        <a href="#" class="mk-fullscreen-close" id="mk-fullscreen-close-button"><i class="fa fa-times"></i></a>
        <form method="get" id="mk-fullscreen-searchform" action="">
            <div id="mk-seard-div">
                <input type="text" value="" placeholder="Nhập từ khóa tìm kiếm..." id="mk-fullscreen-search-input" autocomplete="on">
             
                <i class="ri-search-2-line fullscreen-search-icon"><input value="" type="submit"></i>
               @* <ul class="live-search-list">
                    <li>Học ui bắt đầu từ đâu?</li>
                    <li>Học ui bắt đầu từ nơi nào?</li>
                    <li>Học ui bắt đầu từ tận nơi đâu?</li> 
                    <li>Học ui-ux cho người bắt đầu</li>
                    <li>Lộ trình học ui cho người bắt đầu</li>
                    <li>Hướng dẫn học ui, ux cho người bắt đầu</li>
                </ul>*@
            </div>
            
        </form>
    </div>
</div>