@{
    ViewData["Title"] = "Giới thiệu về chúng tôi";
    ViewData["TitleParentName"] = "Trang chủ";
    ViewData["TitleName"] = "Về chúng tôi";
    ViewData["TitleLink"] = "Giới thiệu";
    ViewData["TitleParent"] = "Home";
}
<div class="container">
    @await Html.PartialAsync("/Views/Shared/Title.cshtml")

    <div class="col-md-10 col-lg-10 col-12 col-xl-9 row mx-auto  mt-5 mt-md-5 mt-lg-5">
        <div class="col-12 col-md-6 col-lg-6 my-auto">
            <img class="mw-100" src="~/image/AboutUs/Group 6213 (1).png" />
        </div>
        <div class="col-12 col-md-6 col-lg-6 my-auto">
            <p class="font-weight-bold text-primary mt-4 text-uppercase">Về chúng tôi</p>
            <h3 class="font-weight-bold mt-4">Đôi nét về Mobiplus</h3>
            <p>
                Mobiplus là một trong những công ty về công nghệ được thành lập ngày 20/05/2014. Với khả năng và hướng đi rõ ràng, Mobiplus đã nhanh chóng lấy được niềm tin của khách hàng trong lĩnh vực phần mềm, website và thương mại điện tử.
            </p>
            <p>
                Với đội ngũ thiết nhân sự trẻ, đầy sáng tạo và năng động, chịu khó và ham học hỏi. Cùng sự góp sức của các chuyên gia dày dặn kinh nghiệm về thiết kế và phát triển ứng dụng trên Internet, chúng tôi tự hào khi mang đến cho khách hàng những sản phẩm ấn tượng.
            </p>
            <p>
                Trong 7 năm phát triển (từ 2014 - 2021), Mobiplus luôn cố gắng nỗ lực với mục tiêu cao là mang lại sự hài lòng các khách hàng thông qua những sản phẩm và giải pháp công nghệ tối ưu nhất. Đồng thời, chúng tôi không ngừng nghiên cứu và tiên phong trong các giải pháp công nghệ mới, góp phần khẳng định vị thế của mình trên thị trường hiện nay.
            </p>
        </div>
    </div>

    <div class="mt-5 mt-md-5 mt-lg-5 row mx-0">
        <div class="my-auto mx-auto col-12">
            <div class="text-center">
                <p class="font-weight-bold text-uppercase text-primary">Cột mốc phát triển</p>
                <h3 class="font-weight-bold">Lịch sử hình thành Mobiplus</h3>
                <img class="mt-2" src="~/image/Group 307.png" />
            </div>
            <div class="pt-12 display-web" style="position:relative;margin-top:50px;">
                <div style="border: 0.01px dashed #B2B5C5;">

                </div>
                <div style="position: absolute;display: flex;width: 100%;justify-content: space-around;top:-1.5rem">

                    <div>
                        <img src="~/image/AboutUs/LOAD.png" class="load_1" />
                        <div>
                            <div style="height: 50px; border: 0.01px dashed #B2B5C5; width: 0px; margin-left: 23px;"></div>
                            <div class="col-12 col-md-4 col-lg-4 border-radius-dotted card-historyMobiplus-1" style="border: 0.01px dashed #B2B5C5 !important;">
                                <div style="padding-top:15px">
                                    <p class="font-weight-bold">2014</p>
                                    <p style="color:#7D82A1">Thành lập công ty cổ phần Mobiplus Tin học và truyền thông</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div>
                        <img src="~/image/AboutUs/LOAD.png" />
                        <div>
                            <div style="height: 170px; border: 0.01px dashed #B2B5C5; width: 0px; margin-left: 23px;"></div>
                            <div class="col-12 col-md-4 col-lg-4 border-radius-dotted card-historyMobiplus-2" style="border: 0.01px dashed #B2B5C5 !important;">
                                <div style="padding-top:25px">
                                    <p class="font-weight-bold">2014 - 2018</p>
                                    <p style="color:#7D82A1">Xác lập vị thế trên thị trường</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="~/image/AboutUs/LOAD.png" />
                        <div>
                            <div style="height: 293px; border: 0.01px dashed #B2B5C5; width: 0px; margin-left: 23px;"></div>
                            <div class="col-12 col-md-4 col-lg-4 border-radius-dotted card-historyMobiplus-3" style="border: 0.01px dashed #B2B5C5 !important;">
                                <div style="padding-top:15px">
                                    <p class="font-weight-bold">2018 - nay</p>
                                    <p style="color:#7D82A1">Phát triển dịch vụ công nghệ thông tin đa nền tảng thích ứng cuộc CMCN 4.0</p>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="pt-12 display-moblie" style="margin-top:50px">

                <div style="">

                    <div>

                        <div>

                            <div class="col-12 col-md-4 col-lg-4 border-radius-dotted card-historyMobiplus-1" style="border: 0.01px dashed #B2B5C5 !important;">
                                <div style="padding-top:15px">
                                    <p class="font-weight-bold">2014</p>
                                    <p style="color:#7D82A1">Thành lập công ty cổ phần Mobiplus Tin học và truyền thông</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="pt-3">

                        <div>

                            <div class="col-12 col-md-4 col-lg-4 border-radius-dotted card-historyMobiplus-2" style="border: 0.01px dashed #B2B5C5 !important;">
                                <div style="padding-top:25px">
                                    <p class="font-weight-bold">2014 - 2018</p>
                                    <p style="color:#7D82A1">Xác lập vị thế trên thị trường</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="pt-3">

                        <div>
                            <div class="col-12 col-md-4 col-lg-4 border-radius-dotted card-historyMobiplus-3" style="border: 0.01px dashed #B2B5C5 !important;height:125px !important">
                                <div style="padding-top:15px">
                                    <p class="font-weight-bold">2018 - nay</p>
                                    <p style="color:#7D82A1">Phát triển dịch vụ công nghệ thông tin đa nền tảng thích ứng cuộc CMCN 4.0</p>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="row  mt-5 mt-md-5 mt-lg-5 col-12 col-md-12 col-lg-12 mx-0 margin-mobile" style="margin-top:29.5rem">
        <div class="my-auto col-md-10 col-lg-10 mx-auto">
            <div class="col-12">
                <div class="service text-center">
                    <p class="text-uppercase font-weight-bold text-primary">Về mobiplus</p>
                    <h3 class="font-weight-bold">Chúng tôi làm gì?</h3>
                    <img class="mt-2" src="~/image/Group 307.png" />
                    <p class="mx-auto col-12 col-md-6 col-lg-6 mt-4" style="color:#7D82A1">
                        Mobiplus là một trong những công ty về công nghệ. Làm việc theo nhóm có cấu trúc và hiệu quả về chi phí. Chúng tôi ra đời với sứ mệnh phục vụ khách hàng với dịch vụ hợp lý, đưa ra những giải pháp hữu ı́ch phù hợp với nhu cầu của khách hàng.
                    </p>
                </div>
                <div class="row mt-4 mt-md-5 mt-lg-5">
                    <div class="col-6 col-md col-lg mt-4 mt-md-0 mt-lg-0 px-2">
                        <div class="card box-shadow-card" style="border-radius:8px; border: 1px solid #E5E5E5">
                            <div class="card-header mx-auto card-style-header">
                                <img class="img-size-icon w-100" id="img-1" src="~/image/Service2/Target_perspective_matte_s 1.png" />
                            </div>
                            <div class="card-body text-center mobi-size-card px-2">
                                <h5 class="card-title font-weight-bold font-size-mobi-title">Xây dựng ý tưởng</h5>
                                <p class="card-text hide-text-card card-text-size" style="color:#7D82A1">Mobiplus cung cấp các gói dịch vụ thiết kế website, mobile app đảm bảo tiêu chí thân thiện, dễ dàng sử dụng và đúng yêu cầu.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md col-lg mt-4 mt-md-0 mt-lg-0 px-2">
                        <div class="card box-shadow-card" style="border-radius:8px; border: 1px solid #E5E5E5">
                            <div class="card-header mx-auto card-style-header">
                                <img class="img-size-icon w-100" id="img-2" src="~/image/Slide/Code_perspective_matte.png" />
                            </div>
                            <div class="card-body text-center mobi-size-card px-2">
                                <h5 class="card-title font-weight-bold font-size-mobi-title">Phân tích dự án</h5>
                                <p class="card-text hide-text-card card-text-size" style="color:#7D82A1">Đây là yêu cầu cơ bản đối với các công ty, doanh nghiệp và cá nhân đang sở hữu các thiết kế website trong mọi lĩnh vực.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md col-lg mt-4 mt-md-0 mt-lg-0 px-2">
                        <div class="card box-shadow-card" style="border-radius:8px; border: 1px solid #E5E5E5">
                            <div class="card-header mx-auto card-style-header">
                                <img class="img-size-icon w-100" id="img-3" src="~/image/Service2/List_perspective_matte_s 1.png" />
                            </div>
                            <div class="card-body text-center mobi-size-card px-2">
                                <h5 class="card-title font-weight-bold font-size-mobi-title">Quản lý dự án</h5>
                                <p class="card-text hide-text-card card-text-size" style="color:#7D82A1">
                                    Dịch vụ thiết kế website chuẩn SEO giá tốt, tối ưu trả nghiệm người dùng và thân thiện với
                                    mọi trình duyệt.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md col-lg mt-4 mt-md-0 mt-lg-0 px-2">
                        <div class="card box-shadow-card" style="border-radius:8px; border: 1px solid #E5E5E5">
                            <div class="card-header mx-auto card-style-header">
                                <img class="img-size-icon w-100" id="img-4" src="~/image/Service2/Chart_perspective_matte_s.png" />
                            </div>
                            <div class="card-body text-center mobi-size-card px-2">
                                <h5 class="card-title font-weight-bold font-size-mobi-title">Đánh giá & Đo lường</h5>
                                <p class="card-text hide-text-card card-text-size" style="color:#7D82A1">Dựa trên sản phẩm đang có hiện tại chúng tôi thực hiện bảo trì và nâng cấp chúng để nâng cao trải nghiệm cho bạn.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row  mt-5 mt-md-5 mt-lg-5 mx-0">
        <div class="col-md-12 col-12 col-lg-12 px-0 my-auto bg-blue">
            <div class="col-12 row mx-auto p-2 col-md-10 col-lg-10">
                <div class="col-md-3 col-6 text-center mt-2">
                    <div class="border-mobi">
                        <img class="img-size-banner-2" src="~/image/AboutUs/Ico_1 (1).png" />
                        <p class="mt-4 font-weight-bold text-white">Xây dựng chiến lược</p>
                    </div>
                </div>
                <div class="col-md-3 col-6 text-center mt-2">
                    <div class="border-mobi">
                        <img class="img-size-banner-2" src="~/image/AboutUs/Ico_2 (1).png" />
                        <p class="mt-4 font-weight-bold text-white">Nghiên cứu & phân tích</p>
                    </div>
                </div>
                <div class="col-md-3 col-6 text-center mt-2">
                    <div class="border-mobi">
                        <img class="img-size-banner-2" src="~/image/AboutUs/Ico_3 (1).png" />
                        <p class="mt-4 font-weight-bold text-white">Phát triển & tối ưu</p>
                    </div>
                </div>
                <div class="col-md-3 col-6 text-center mt-2">
                    <div class="border-mobi">
                        <img class="img-size-banner-2" src="~/image/AboutUs/Ico_4 (1).png" />
                        <p class="mt-4 font-weight-bold text-white">Đánh giá & đo lường</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" mt-5 mt-md-5 mt-lg-5">
        <div class="col-12 col-md-10 col-lg-10 col-xl-9 row mx-auto">
            <div class="col-md-7 col-12 col-lg-7 my-auto">
                <p class="font-weight-bold text-uppercase text-primary">Tầm nhìn của chúng tôi</p>
                <p><h3 class="font-weight-bold">Tầm nhìn và sứ mệnh</h3></p>
                <p class="">
                    Bằng nỗ lực sáng tạo trong khoa học, công nghệ và đổi mới trong quản trị, Mobiplus mong muốn trở thành công ty có nền tảng, phần mềm và dịch vụ được sử dụng phổ biến đối với khách hàng trong nước và quốc tế
                </p>
                <p>
                    <img src="~/image/AboutUs/checked.png" />
                    <span>Đối với khách hàng: Tôn trọng và cam kết mang đến cho khách hàng những sản phẩm và dịch vụ tốt nhất</span>
                </p>
                <p>
                    <img src="~/image/AboutUs/checked.png" />
                    <span>Đối với đối tác: Xây dựng mối quan hệ tin cậy, lâu dài, uy tín và hợp tác cùng phát triển</span>
                </p>
                <p>
                    <img src="~/image/AboutUs/checked.png" />
                    <span>Đối với nhân viên: Xây dựng môi trường làm việc thân thiện, chuyên nghiệp, năng động, sáng tạo để mọi người có thể phát huy hết khả năng của mình.</span>
                </p>
                <p>
                    <img src="~/image/AboutUs/checked.png" />
                    <span>Đối với xã hội: Luôn ý thức lợi ích của Công ty gắn liền với lợi ích xã hội và cộng đồng.</span>
                </p>
            </div>
            <div class="col-md-5 col-12 col-lg-5 hide-text-card">
                <img class="mw-100" src="~/image/AboutUs/Group 6267.png" />
            </div>
        </div>
    </div>
    <div class=" mt-5 mt-md-5 mt-lg-5">
        <div class="col-12 col-md-10 col-lg-10 col-xl-9 row mx-auto">
            <div class="col-md-5 col-12 col-lg-5">
                <img class="mw-100 mt-4" src="~/image/AboutUs/fly.png" />
            </div>
            <div class="col-md-7 col-12 col-lg-7 my-auto">
                <p class="font-weight-bold text-uppercase text-primary">Giá trị mobiplus</p>
                <p><h3 class="font-weight-bold">Giá trị cốt lõi</h3></p>
                <p>
                    <img src="~/image/AboutUs/checked.png" />
                    <span>Mobiplus lấy khách hàng là trọng tâm, đặt chữ Tín lên vị trí hàng đầu, lấy chữ tín làm vũ khí cạnh tranh với các đối tác khác.</span>
                </p>
                <p>
                    <img src="~/image/AboutUs/checked.png" />
                    <span>Luôn là người dẫn đường</span>
                </p>
                <p>
                    <img src="~/image/AboutUs/checked.png" />
                    <span>Đổi mới và sáng tạo, coi sáng tạo là sức sống, là đòn bẩy phát triển. Nhằm tạo ra giá trị khác biệt và bản sắc riêng trong mỗi gói sản phẩm và dịch vụ.</span>
                </p>
                <p>
                    <img src="~/image/AboutUs/checked.png" />
                    <span>Tinh thần dám nghĩ ,dám làm, khuyến khích tìm tòi, nghiên cứu và ứng dụng những công nghệ mới vào công nghệ nhằm nâng cao chất lượng sản phẩm - Dịch vụ.</span>
                </p>
                <p>
                    <img src="~/image/AboutUs/checked.png" />
                    <span>Hướng đến sự đơn giản</span>
                </p>
                <p>
                    <img src="~/image/AboutUs/checked.png" />
                    <span>Đặt ra các tiêu chuẩn cao</span>
                </p>
                <p>
                    <img src="~/image/AboutUs/checked.png" />
                    <span>Hợp tác vì mục tiêu chung. Mobiplus xây dựng các mội quan hệ với khách hàng, đối tác, đồng nghiệm, nhà đầu tư và xã hội bằng sự thiện chí, tinh thần chân ái và nhân văn.</span>
                </p>
            </div>
        </div>
    </div>
    <div class="row  mt-5 mt-md-5 mt-lg-5 col-12 col-md-12 col-lg-12 mx-auto px-0" style="background-color:#FBFCFF">
        <div class="col-12 img-contact ali-blog">
            <div class="text-center">
                <p class="font-weight-bold text-white">Liên hệ với chúng tôi</p>
                <h3 class="font-weight-bold text-white">Kết nối với chúng tôi</h3>
                <img class="mt-2" src="~/image/Group 307.png" />
                <p class="mx-auto col-12 col-md-6 col-lg-6 mt-4 text-white">
                    Bạn đang gặp vướng mắc trong việc xây dựng hoặc phát triển dự án, đang mong muốn tìm kiếm một đối tác khách hàng để hợp tác. Mobiplus là một lựa chọn tốt nhất dành cho bạn.
                </p>

            </div>
            <a class="btn-contact-2" style="border-radius:16px" asp-controller="ContactUs" asp-action="index">Liên hệ với chúng tôi</a>
        </div>
        <div class="col-12 col-xl-9 mx-auto p-0">
            <div class="owl-carousel owl-theme" id="carousel-3">
                <div class="item py_md_16 py_4 px_4" style="filter: drop-shadow(0px 3px 36px rgba(178, 181, 197, 0.12)); border-radius: 0px;">
                    <img class="mw-100" src="~/image/AboutUs/Customer1.png" />
                </div>
                <div class="item py_md_16 py_4 px_4" style="filter: drop-shadow(0px 3px 36px rgba(178, 181, 197, 0.12)); border-radius: 0px;">
                    <img class="mw-100" src="~/image/AboutUs/Customer1.png" />
                </div>
                <div class="item py_md_16 py_4 px_4" style="filter: drop-shadow(0px 3px 36px rgba(178, 181, 197, 0.12)); border-radius: 0px;">
                    <img class="mw-100" src="~/image/AboutUs/Customer1.png" />
                </div>
                <div class="item py_md_16 py_4 px_4" style="filter: drop-shadow(0px 3px 36px rgba(178, 181, 197, 0.12)); border-radius: 0px;">
                    <img class="mw-100" src="~/image/AboutUs/Customer1.png" />
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(".owl-item").hover(
            function () {
                $(this).find(".mw-100").attr('src', '/image/AboutUs/Customer1-1.png');
            },
            function () {
                $(this).find(".mw-100").attr('src', '/image/AboutUs/Customer1.png');
            }
        );

    </script>
}
